body {
    background-color: aquamarine;
}

p {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
    color: aliceblue;
}